/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0px;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
}

.planet-list {
	position: absolute;
	top: 15px;
	left: 5px;
	border: 1px solid rgba(0, 0, 200, 0.7);
}

.planet {
	color : #9C9995;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 20px;
}

.planet:hover, .white, .planet-info h2 {
	color: white;
}

.planet-info {
	display: none;
	position: absolute;
	right: 5px;
	top: 15px;
	border: 1px solid rgba(0, 0, 200, 0.7);
	color: #9C9995;
}

.planet-info h2, .planet-info h4, .info {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.planet-info h2 {
	text-align: center;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: white;
	display: inline-block;
	font-size: 18px;
}

footer img {
	display: inline-block;
	float: right;
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.mail {
	width: 30px;
	height: 30px;
}

.fb-share-button {
	float: left;
	margin-left: 15px;
}

